@model IEnumerable<SalesSystemMVC.Models.Pessoa>

@{
    ViewData["Title"] = "Pessoas";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-default">Create New</a>

<hr />

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaTelefone.FirstOrDefault().Telefone.DDD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaTelefone.FirstOrDefault().Telefone.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaTelefone.FirstOrDefault().Telefone.TipoTelefone.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaTelefone.FirstOrDefault().Telefone.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaTelefone.FirstOrDefault().Telefone.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaTelefone.FirstOrDefault().Telefone.TipoTelefone.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
